<div *ngIf="isLoading">
  <app-welcome></app-welcome>
</div>
<div *ngIf="!isLoading">
  <app-main-page></app-main-page>
</div>
<!-- Ventana emergente (Modal) -->
<div *ngIf="showModal" id="welcomeModal" class="modal">
  <div class="modal-content">
    <h1>¡Bienvenido a Injoyplan!</h1>
    <p>Tus gustos sobre todo, elígelos y te recomendaremos los mejores eventos para ti.</p>
    <div class="categories">
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Música" /><span>Música</span></div>
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Festivales" /><span>Festivales</span></div>
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Fiestas" /><span>Fiestas</span></div>
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Humor" /><span>Humor</span></div>
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Teatro" /><span>Teatro</span></div>
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Comida" /><span>Comida</span></div>
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Bebida" /><span>Bebida</span></div>
      <div class="category"><img src="https://cdn-icons-png.flaticon.com/512/2394/2394757.png" alt="Deportes" /><span>Deportes</span></div>
    </div>
    <button (click)="closeModal()">CONTINUAR</button>
    <a href="#" (click)="closeModal()">No, no tengo un gusto en específico</a>
  </div>
</div>